<!--#include virtual="head-assets.html" -->

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <section class="siteheader">
                    <header>Header</header>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xl-3">
                <section class="left-section">
                    <!--#include virtual="./../_baseLayoutPage/left-nav.html" -->
                </section>
            </div>
            <div class="col-md-8 col-xl-9">
                <main>
                    <section class="right-section">
                        <div class="p-3">
                            <div class="accordion" data-accordion>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <div class="p-3" data-theme="dark">
                            <div class="accordion" data-accordion>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <div class="p-3">
                            <div class="accordion accordion-primary" data-accordion>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                            </div>
                            <br/>
                            <div class="accordion accordion-secondary" data-accordion>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                            </div>
                            <br/>
                            <div class="accordion accordion-success" data-accordion>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                            </div>
                            <br/>
                            <div class="accordion accordion-warning" data-accordion>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                            </div>
                            <br/>
                            <div class="accordion accordion-danger" data-accordion>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                            </div>
                            <br/>
                            <div class="accordion accordion-info" data-accordion>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                            </div>
                            <br/>
                            <div class="accordion accordion-light" data-accordion>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                            </div>
                            <br/>
                            <div class="accordion accordion-dark" data-accordion>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <div class="p-3" data-theme="dark">
                            <div class="accordion accordion-primary" data-accordion>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                            </div>
                            <br/>
                            <div class="accordion accordion-secondary" data-accordion>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                            </div>
                            <br/>
                            <div class="accordion accordion-success" data-accordion>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                            </div>
                            <br/>
                            <div class="accordion accordion-warning" data-accordion>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                            </div>
                            <br/>
                            <div class="accordion accordion-danger" data-accordion>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                            </div>
                            <br/>
                            <div class="accordion accordion-info" data-accordion>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                            </div>
                            <br/>
                            <div class="accordion accordion-light" data-accordion>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                            </div>
                            <br/>
                            <div class="accordion accordion-dark" data-accordion>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                                <div class="accordion-item" data-accordionitem>
                                    <a href="#" class="accordion-link" data-accordionlink>Link</a>
                                    <div class="accordion-content" data-accordioncontent>Content</div>
                                </div>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <section class="sitefooter">
                    <footer>Footer</footer>
                </section>
            </div>
        </div>
    </div>
    <!--#include virtual="footer-assets.html" -->
</body>

</html>