@className-item-active: active;

@className-background-color: bg;
@className-heights: h;
@className-widths: w;
@className-text-color: color;
@className-display: display;
@className-list-style: list-style;

@className-section-wrapper: section-wrapper;
@className-section-content: section-content;
@className-tall-as-device: tall-as-device;
@className-one-n-only: one-n-only;
@className-half-n-half: half-n-half;
@className-half-content: half-content;
@className-half-on-left: half-on-l;
@className-half-on-right: half-on-r;

@className-spinner: spinner;
@className-spinner-xs: spinner-xs;
@className-spinner-sm: spinner-sm;
@className-spinner-lg: spinner-lg;
@className-spinner-xl: spinner-xl;

@className-button: btn;
@className-button-xs: btn-xs;
@className-button-sm: btn-sm;
@className-button-lg: btn-lg;
@className-button-xl: btn-xl;
@className-button-pill: pill;
@className-button-rounded: rounded;

@className-spacer-padding: p;
@className-spacer-margin: m;
@className-spacer-top: t;
@className-spacer-right: r;
@className-spacer-bottom: b;
@className-spacer-left: l;

@className-grid-container: container;
@className-grid-container-fluid: container-fluid;
@className-grid-row: row;
@className-grid-rowcols: row-cols;
@className-grid-col: col;

@className-text-align: txt;
@className-text-decoration: txt;
@className-position: pos;

@className-accordion: accordion;
@className-accordion-item: accordion-item;
@className-accordion-link: accordion-link;
@className-accordion-content: accordion-content;