@root-font-size: 16;

@rem: @root-font-size*1rem;

@grays: {
  gray0: #fff;
  gray100: #f8f9fa;
  gray200: #e9ecef;
  gray300: #dee2e6;
  gray400: #ced4da;
  gray500: #adb5bd;
  gray600: #6c757d;
  gray700: #495057;
  gray800: #343a40;
  gray900: #212529;
  gray1000: #000;
};

// @colors: {
//   primary: @blue;
//   secondary: @grays[gray600];
//   success: @green;
//   info: @cyan;
//   warning: @yellow;
//   danger: @red;
//   light: @grays[gray100];
//   dark: @grays[gray900];
//   white: @grays[gray0];
//   black: @grays[gray1000];
// };

@colors: {
  primary: #205d86;
  secondary: #77448b;
  success: #20603c;
  info: #3a539b;
  warning: #804600;
  danger: #b11030;
  light: #fcddc9;
  dark: #34515e;
  white: @grays[gray0];
  black: @grays[gray1000];
};


@breakpoints: {
  xs: (0 / @em);
  sm: (576 / @em);
  md: (768 /@em);
  lg: (992 / @em);
  xl: (1200 / @em);
  xxl: (1392 / @em);
};

@grid-columns: 12;
@grid-gutter-width: (32 / @rem);
@grid-row-columns: 6;

@spacer: (16 / @rem);
@spacers: {
  0: 0;
  1: @spacer / 4;
  2: @spacer / 2;
  3: @spacer;
  4: @spacer * 2;
  5: @spacer * 4;
  6: @spacer * 6;
};

@font-family-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
@font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

@theme-light-color: @grays[gray100];
@theme-light-backgroundcolor: @grays[gray900];
@theme-dark-color: @grays[gray900];
@theme-dark-backgroundcolor: @grays[gray100];

@link-decoration: underline;
@enable-button-pointers: true;
@is-link-decoration-none: boolean(@link-decoration = none);

@border-width: (1 / @rem);

@line-height-base: 1.5;
@line-height-xs: 1.25;
@line-height-sm: 1.25;
@line-height-lg: 2;
@line-height-xl: 2;

@font-weight-light: 300;
@font-weight-normal: 400;
@font-weight-bold: 700;

@font-size-base: (@root-font-size / @rem);
@font-size-xs: @font-size-base * .875;
@font-size-sm: @font-size-base * .875;
@font-size-lg: @font-size-base * 1.25;
@font-size-xl: @font-size-base * 1.25;

@input-font-family: @font-family-sans-serif;
@input-line-height: @line-height-base;

@input-font-size: @font-size-base;
@input-padding-y: (7 / @rem);
@input-padding-x: (13 / @rem);

@input-padding-y-xs:      .25rem;
@input-padding-x-xs:      .5rem;
@input-font-size-xs:      @font-size-xs;
@input-line-height-xs: @line-height-xs;

@input-padding-y-sm:      .25rem;
@input-padding-x-sm:      .5rem;
@input-font-size-sm:      @font-size-sm;
@input-line-height-sm: @line-height-sm;

@input-padding-y-lg:      .5rem;
@input-padding-x-lg:      1rem;
@input-font-size-lg:      @font-size-lg;
@input-line-height-lg: @line-height-lg;

@input-padding-y-xl:      .5rem;
@input-padding-x-xl:      1rem;
@input-font-size-xl:      @font-size-xl;
@input-line-height-xl: @line-height-xl;

@input-border-width:      @border-width;

/* ==buttons== */
@btn-border-width: @input-border-width;
@btn-white-space: none;
@btn-font-family: @input-font-family;

@btn-font-size: @input-font-size;
@btn-font-size-xs: @input-font-size-xs;
@btn-font-size-sm: @input-font-size-sm;
@btn-font-size-lg: @input-font-size-lg;
@btn-font-size-xl: @input-font-size-xl;

@btn-line-height: @input-line-height;
@btn-line-height-xs: @input-line-height-xs;
@btn-line-height-sm: @input-line-height-sm;
@btn-line-height-lg: @input-line-height-lg;
@btn-line-height-xl: @input-line-height-xl;

@btn-padding-x: @input-padding-x;
@btn-padding-y: @input-padding-y;
@btn-padding-x-xs: @input-padding-x-xs;
@btn-padding-y-xs: @input-padding-y-xs;
@btn-padding-x-sm: @input-padding-x-sm;
@btn-padding-y-sm: @input-padding-y-sm;
@btn-padding-x-lg: @input-padding-x-lg;
@btn-padding-y-lg: @input-padding-y-lg;
@btn-padding-x-xl: @input-padding-x-xl;
@btn-padding-y-xl: @input-padding-y-xl;

@btn-font-weight: @font-weight-normal;