@root-font-size: 16;

@rem: round(@root-font-size * 1rem, 2);
@em: round(@root-font-size * 1em, 2);

// @grays: {
//   gray0: #fff;
//   gray100: #f8f9fa;
//   gray200: #e9ecef;
//   gray300: #dee2e6;
//   gray400: #ced4da;
//   gray500: #adb5bd;
//   gray600: #6c757d;
//   gray700: #495057;
//   gray800: #343a40;
//   gray900: #212529;
//   gray1000: #000;
// };

@grays: {
  gray00: #000;
  gray01: #111;
  gray02: #222;
  gray03: #333;
  gray04: #444;
  gray05: #555;
  gray06: #666;
  gray07: #777;
  gray08: #888;
  gray09: #999;
  gray10: #aaa;
  gray11: #bbb;
  gray12: #ccc;
  gray13: #ddd;
  gray14: #eee;
  gray15: #fff;
};

@colors: {
  primary: #0580fc;
  secondary: #913d88;
  success: #01a38a;
  info: #4b6a88;
  warning: #fe9100;
  danger: #eb034c;
  light: #e5ded6;
  dark: #49433c;
  white: @grays[gray15];
  black: @grays[gray00];
};


@breakpoints: {
  xs: (0 / @em);
  sm: (592 / @em);
  md: (752 /@em);
  lg: (992 / @em);
  xl: (1192 / @em);
  xxl: (1352 / @em);
};

@grid-columns: 12;
@grid-gutter-width: (32 / @rem);
@grid-row-columns: 6;

@container-max-widths: {
  sm: (560 / @rem);
  md: (720 / @rem);
  lg: (960 / @rem);
  xl: (1160 / @rem);
  xxl: (1320 / @rem);
};

@spacer: (16 / @rem);
@spacers: {
  0: 0;
  1: (@spacer / 4);
  2: (@spacer / 2);
  3: @spacer;
  4: (@spacer * 2);
  5: (@spacer * 4);
  6: (@spacer * 6);
};

@displayTypes: {
  block: block;
  contents: contents;
  flex: flex;
  grid: grid;
  inherit: inherit;
  initial: initial;
  inline-block: inline-block;
  inline-flex: inline-flex;
  inline-grid: inline-grid;
  inline-table: inline-table;
  inline: inline;
  list-item: list-item;
  none: none;
  run-in: run-in;
  table-caption: table-caption;
  table-cell: table-cell;
  table-column-group: table-column-group;
  table-column: table-column;
  table-footer-group: table-footer-group;
  table-header-group: table-header-group;
  table-row-group: table-row-group;
  table-row: table-row;
  table: table;
};

@listTypes: {
  disc: disc;
  armenian: armenian;
  circle: circle;
  cjk-ideographic: cjk-ideographic;
  decimal: decimal;
  decimal-leading-zero: decimal-leading-zero;
  georgian: georgian;
  hebrew: hebrew;
  hiragana: hiragana;
  hiragana-iroha: hiragana-iroha;
  katakana: katakana;
  katakana-iroha: katakana-iroha;
  lower-alpha: lower-alpha;
  lower-greek: lower-greek;
  lower-latin: lower-latin;
  lower-roman: lower-roman;
  none: none;
  square: square;
  upper-alpha: upper-alpha;
  upper-greek: upper-greek;
  upper-latin: upper-latin;
  upper-roman: upper-roman;
  initial: initial;
  inherit: inherit;
};

@textAlign: {
  center: center;
  inherit: inherit;
  initial: initial;
  justify: justify;
  left: left;
  right: right;
};

@textDecoration: {
  inherit: inherit;
  initial: initial;
  line-through: line-through;
  none: none;
  overline: overline;
  underline: underline;
};

@positionTypes: {
  static: static;
  absolute: absolute;
  fixed: fixed;
  relative: relative;
  sticky: sticky;
  initial: initial;
  inherit: inherit;
};

@font-family-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
@font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

@border-radius-xs: (2 / @rem);
@border-radius-sm: (4 / @rem);
@border-radius: (6 / @rem);
@border-radius-lg: (8 / @rem);
@border-radius-xl: (10 / @rem);
@border-radius-pill: (50 / @rem);
@border-radius-rounded: 50%;

@theme-name-dark: dark;
@theme-name-light: light;
@theme-light-color: @grays[gray01];
@theme-light-backgroundcolor: @grays[gray14];
@theme-dark-color: @grays[gray14];
@theme-dark-backgroundcolor: @grays[gray01];

@link-decoration: underline;
@enable-button-pointers: true;
@is-link-decoration-none: boolean(@link-decoration = none);

@border-width: (1 / @rem);

@line-height-base: 1.5;

@font-weight-light: 300;
@font-weight-normal: 400;
@font-weight-bold: 700;

@font-size-base: (@root-font-size / @rem);
@font-size-xs: @font-size-base * .5;
@font-size-sm: @font-size-base * .75;
@font-size-lg: @font-size-base * 1.25;
@font-size-xl: @font-size-base * 1.5;

@input-font-family: @font-family-sans-serif;
@input-line-height: @line-height-base;

@input-font-size: @font-size-base;
@input-padding-y: round((7.2 / @rem), 2);
@input-padding-x: round((11.05 / @rem), 2);
@input-border-radius: @border-radius;

@input-padding-y-xs: round((5.15 / @rem), 2);
@input-padding-x-xs: round((7.02 / @rem), 2);
@input-font-size-xs: @font-size-xs;
@input-border-radius-xs: @border-radius-xs;

@input-padding-y-sm: round((6.45 / @rem), 2);
@input-padding-x-sm: round((9.05 / @rem), 2);
@input-font-size-sm: @font-size-sm;
@input-border-radius-sm: @border-radius-sm;

@input-padding-y-lg: round((8.02 / @rem), 2);
@input-padding-x-lg: round((13.02 / @rem), 2);
@input-font-size-lg: @font-size-lg;
@input-border-radius-lg: @border-radius-lg;

@input-padding-y-xl: round((9.3 / @rem), 2);
@input-padding-x-xl: round((15.02 / @rem), 2);
@input-font-size-xl: @font-size-xl;
@input-border-radius-xl: @border-radius-xl;

@input-border-width: @border-width;

/* ==buttons== */
@btn-border-width: @input-border-width;
@btn-white-space: none;
@btn-font-family: @input-font-family;

@btn-font-size: @input-font-size;
@btn-font-size-xs: @input-font-size-xs;
@btn-font-size-sm: @input-font-size-sm;
@btn-font-size-lg: @input-font-size-lg;
@btn-font-size-xl: @input-font-size-xl;

@btn-line-height: @input-line-height;

@btn-padding-x: @input-padding-x;
@btn-padding-y: @input-padding-y;
@btn-padding-x-xs: @input-padding-x-xs;
@btn-padding-y-xs: @input-padding-y-xs;
@btn-padding-x-sm: @input-padding-x-sm;
@btn-padding-y-sm: @input-padding-y-sm;
@btn-padding-x-lg: @input-padding-x-lg;
@btn-padding-y-lg: @input-padding-y-lg;
@btn-padding-x-xl: @input-padding-x-xl;
@btn-padding-y-xl: @input-padding-y-xl;

@btn-border-radius: @input-border-radius;
@btn-border-radius-xs: @input-border-radius-xs;
@btn-border-radius-sm: @input-border-radius-sm;
@btn-border-radius-lg: @input-border-radius-lg;
@btn-border-radius-xl: @input-border-radius-xl;

@btn-font-weight: @font-weight-normal;