
<!-- ***************    ACCORDION    *************** -->
<!--#if expr='$DOCUMENT_URI = /.+\/accordion\//' -->
  <!--#set var="active_nav" value="accordion" -->
<!--#endif -->
      
<!-- ***************    BUTTONS    *************** -->
<!--#if expr='$DOCUMENT_URI = /.+\/buttons\//' -->
  <!--#set var="active_nav" value="buttons" -->
<!--#endif -->
      
<!-- ***************    SECTION-WRAPPERS    *************** -->
<!--#if expr='$DOCUMENT_URI = /.+\/section-wrappers\//' -->
  <!--#set var="active_nav" value="section-wrappers" -->
<!--#endif -->
      
<!-- ***************    SPINNERS    *************** -->
<!--#if expr='$DOCUMENT_URI = /.+\/spinners\//' -->
  <!--#set var="active_nav" value="spinners" -->
<!--#endif -->
      
<!-- ***************    STANDARD-TEASERS    *************** -->
<!--#if expr='$DOCUMENT_URI = /.+\/standard-teasers\//' -->
  <!--#set var="active_nav" value="standard-teasers" -->
<!--#endif -->
      
<!-- ***************    TYPOGRAPHY    *************** -->
<!--#if expr='$DOCUMENT_URI = /.+\/typography\//' -->
  <!--#set var="active_nav" value="typography" -->
<!--#endif -->
      