
<!-- ***************    ACCORDION    *************** -->
<!--#if expr='$DOCUMENT_URI = /.+\/accordion\//' -->
  <!--#set var="active_nav" value="accordion" -->
<!--#endif -->
      
<!-- ***************    BUTTONS    *************** -->
<!--#if expr='$DOCUMENT_URI = /.+\/buttons\//' -->
  <!--#set var="active_nav" value="buttons" -->
<!--#endif -->
      
<!-- ***************    SPINNERS    *************** -->
<!--#if expr='$DOCUMENT_URI = /.+\/spinners\//' -->
  <!--#set var="active_nav" value="spinners" -->
<!--#endif -->
      
<!-- ***************    TYPOGRAPHY    *************** -->
<!--#if expr='$DOCUMENT_URI = /.+\/typography\//' -->
  <!--#set var="active_nav" value="typography" -->
<!--#endif -->
      