<nav>
  <ul class="list-style-none m-0 p-0">
    <li>
      <!--#if expr='$active_nav = /accordion/' -->
        <div class="bg-light text-align-left p-3">Accordion</div>
      <!--#else -->
        <a href="/aem-compatible-2/templates/accordion" class="p-3 display-block">Accordion</a>
      <!--#endif -->
    </li>
      
    <li>
      <!--#if expr='$active_nav = /buttons/' -->
        <div class="bg-light text-align-left p-3">Buttons</div>
      <!--#else -->
        <a href="/aem-compatible-2/templates/buttons" class="p-3 display-block">Buttons</a>
      <!--#endif -->
    </li>
      
    <li>
      <!--#if expr='$active_nav = /section-wrappers/' -->
        <div class="bg-light text-align-left p-3">Section-wrappers</div>
      <!--#else -->
        <a href="/aem-compatible-2/templates/section-wrappers" class="p-3 display-block">Section-wrappers</a>
      <!--#endif -->
    </li>
      
    <li>
      <!--#if expr='$active_nav = /spinners/' -->
        <div class="bg-light text-align-left p-3">Spinners</div>
      <!--#else -->
        <a href="/aem-compatible-2/templates/spinners" class="p-3 display-block">Spinners</a>
      <!--#endif -->
    </li>
      
    <li>
      <!--#if expr='$active_nav = /standard-teasers/' -->
        <div class="bg-light text-align-left p-3">Standard-teasers</div>
      <!--#else -->
        <a href="/aem-compatible-2/templates/standard-teasers" class="p-3 display-block">Standard-teasers</a>
      <!--#endif -->
    </li>
      
    <li>
      <!--#if expr='$active_nav = /typography/' -->
        <div class="bg-light text-align-left p-3">Typography</div>
      <!--#else -->
        <a href="/aem-compatible-2/templates/typography" class="p-3 display-block">Typography</a>
      <!--#endif -->
    </li>
      </ul>
  </nav>