<!--#include virtual="head-assets.html" -->

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <section class="siteheader">
                    <header>Header</header>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xl-3">
                <section class="left-section">
                    <!--#include virtual="./../_baseLayoutPage/left-nav.html" -->
                </section>
            </div>
            <div class="col-md-8 col-xl-9">
                <main>
                    <section class="right-section">
                        <div class="p-3">
                            <div class="spinner spinner-primary" aria-label="Loading..."></div>
                            <div class="spinner spinner-secondary" aria-label="Loading..."></div>
                            <div class="spinner spinner-success" aria-label="Loading..."></div>
                            <div class="spinner spinner-warning" aria-label="Loading..."></div>
                            <div class="spinner spinner-danger" aria-label="Loading..."></div>
                            <div class="spinner spinner-info" aria-label="Loading..."></div>
                            <div class="spinner spinner-light" aria-label="Loading..."></div>
                            <div class="spinner spinner-dark" aria-label="Loading..."></div>
                            <div class="spinner spinner-black" aria-label="Loading..."></div>
                            <div class="spinner spinner-white" aria-label="Loading..."></div>
                        </div>
                        <br/>
                        <div class="p-3" data-theme="dark">
                            <div class="spinner spinner-primary" aria-label="Loading..."></div>
                            <div class="spinner spinner-secondary" aria-label="Loading..."></div>
                            <div class="spinner spinner-success" aria-label="Loading..."></div>
                            <div class="spinner spinner-warning" aria-label="Loading..."></div>
                            <div class="spinner spinner-danger" aria-label="Loading..."></div>
                            <div class="spinner spinner-info" aria-label="Loading..."></div>
                            <div class="spinner spinner-light" aria-label="Loading..."></div>
                            <div class="spinner spinner-dark" aria-label="Loading..."></div>
                            <div class="spinner spinner-black" aria-label="Loading..."></div>
                            <div class="spinner spinner-white" aria-label="Loading..."></div>
                        </div>
                        <br/>
                        <div class="p-3">
                            <div class="spinner spinner-primary spinner-xs" aria-label="Loading..."></div>
                            <div class="spinner spinner-secondary spinner-sm" aria-label="Loading..."></div>
                            <div class="spinner spinner-success" aria-label="Loading..."></div>
                            <div class="spinner spinner-warning spinner-lg" aria-label="Loading..."></div>
                            <div class="spinner spinner-danger spinner-xl" aria-label="Loading..."></div>
                        </div>
                        <br/>
                        <div class="p-3" data-theme="dark">
                            <div class="spinner spinner-primary spinner-xs" aria-label="Loading..."></div>
                            <div class="spinner spinner-secondary spinner-sm" aria-label="Loading..."></div>
                            <div class="spinner spinner-success" aria-label="Loading..."></div>
                            <div class="spinner spinner-warning spinner-lg" aria-label="Loading..."></div>
                            <div class="spinner spinner-danger spinner-xl" aria-label="Loading..."></div>
                        </div>
                        <br/>
                        <div class="p-3">
                            <button type="button" class="button button-primary"><div class="spinner"></div> Button</button>
                            <button type="button" class="button button-secondary"><div class="spinner"></div> Button</button>
                            <button type="button" class="button button-success"><div class="spinner"></div> Button</button>
                            <button type="button" class="button button-warning"><div class="spinner"></div> Button</button>
                            <button type="button" class="button button-danger"><div class="spinner"></div> Button</button>
                            <button type="button" class="button button-info"><div class="spinner"></div> Button</button>
                            <button type="button" class="button button-light"><div class="spinner"></div> Button</button>
                            <button type="button" class="button button-dark"><div class="spinner"></div> Button</button>
                            <button type="button" class="button button-black"><div class="spinner"></div> Button</button>
                            <button type="button" class="button button-white"><div class="spinner"></div> Button</button>
                            <a href="#" class="button button-primary"><div class="spinner"></div> Link Button</a>
                            <br/><br/>
                            <button disabled type="button" class="button button-primary"><div class="spinner"></div> Button</button>
                            <button disabled type="button" class="button button-secondary"><div class="spinner"></div> Button</button>
                            <button disabled type="button" class="button button-success"><div class="spinner"></div> Button</button>
                            <button disabled type="button" class="button button-warning"><div class="spinner"></div> Button</button>
                            <button disabled type="button" class="button button-danger"><div class="spinner"></div> Button</button>
                            <button disabled type="button" class="button button-info"><div class="spinner"></div> Button</button>
                            <button disabled type="button" class="button button-light"><div class="spinner"></div> Button</button>
                            <button disabled type="button" class="button button-dark"><div class="spinner"></div> Button</button>
                            <button disabled type="button" class="button button-black"><div class="spinner"></div> Button</button>
                            <button disabled type="button" class="button button-white"><div class="spinner"></div> Button</button>
                            <a href="#" class="button button-primary" aria-disabled="true"><div class="spinner"></div> Link Button</a>
                        </div>
                        <br/>
                        <div class="p-3" data-theme="dark">
                            <button type="button" class="button button-primary"><div class="spinner"></div> Button</button>
                            <button type="button" class="button button-secondary"><div class="spinner"></div> Button</button>
                            <button type="button" class="button button-success"><div class="spinner"></div> Button</button>
                            <button type="button" class="button button-warning"><div class="spinner"></div> Button</button>
                            <button type="button" class="button button-danger"><div class="spinner"></div> Button</button>
                            <button type="button" class="button button-info"><div class="spinner"></div> Button</button>
                            <button type="button" class="button button-light"><div class="spinner"></div> Button</button>
                            <button type="button" class="button button-dark"><div class="spinner"></div> Button</button>
                            <button type="button" class="button button-black"><div class="spinner"></div> Button</button>
                            <button type="button" class="button button-white"><div class="spinner"></div> Button</button>
                            <a href="#" class="button button-primary"><div class="spinner"></div> Link Button</a>
                            <br/><br/>
                            <button disabled type="button" class="button button-primary"><div class="spinner"></div> Button</button>
                            <button disabled type="button" class="button button-secondary"><div class="spinner"></div> Button</button>
                            <button disabled type="button" class="button button-success"><div class="spinner"></div> Button</button>
                            <button disabled type="button" class="button button-warning"><div class="spinner"></div> Button</button>
                            <button disabled type="button" class="button button-danger"><div class="spinner"></div> Button</button>
                            <button disabled type="button" class="button button-info"><div class="spinner"></div> Button</button>
                            <button disabled type="button" class="button button-light"><div class="spinner"></div> Button</button>
                            <button disabled type="button" class="button button-dark"><div class="spinner"></div> Button</button>
                            <button disabled type="button" class="button button-black"><div class="spinner"></div> Button</button>
                            <button disabled type="button" class="button button-white"><div class="spinner"></div> Button</button>
                            <a href="#" class="button button-primary" aria-disabled="true"><div class="spinner"></div> Link Button</a>
                        </div>
                        <br/>
                        <!-- ================================================ -->
                        <div class="p-3">
                            <button type="button" class="button button-primary-outline"><div class="spinner"></div> Button</button>
                            <button type="button" class="button button-secondary-outline"><div class="spinner"></div> Button</button>
                            <button type="button" class="button button-success-outline"><div class="spinner"></div> Button</button>
                            <button type="button" class="button button-warning-outline"><div class="spinner"></div> Button</button>
                            <button type="button" class="button button-danger-outline"><div class="spinner"></div> Button</button>
                            <button type="button" class="button button-info-outline"><div class="spinner"></div> Button</button>
                            <button type="button" class="button button-light-outline"><div class="spinner"></div> Button</button>
                            <button type="button" class="button button-dark-outline"><div class="spinner"></div> Button</button>
                            <button type="button" class="button button-black-outline"><div class="spinner"></div> Button</button>
                            <button type="button" class="button button-white-outline"><div class="spinner"></div> Button</button>
                            <a href="#" class="button button-primary-outline"><div class="spinner"></div> Link Button</a>
                            <br/>
                            <br/>
                            <button disabled type="button" class="button button-primary-outline"><div class="spinner"></div> Button</button>
                            <button disabled type="button" class="button button-secondary-outline"><div class="spinner"></div> Button</button>
                            <button disabled type="button" class="button button-success-outline"><div class="spinner"></div> Button</button>
                            <button disabled type="button" class="button button-warning-outline"><div class="spinner"></div> Button</button>
                            <button disabled type="button" class="button button-danger-outline"><div class="spinner"></div> Button</button>
                            <button disabled type="button" class="button button-info-outline"><div class="spinner"></div> Button</button>
                            <button disabled type="button" class="button button-light-outline"><div class="spinner"></div> Button</button>
                            <button disabled type="button" class="button button-dark-outline"><div class="spinner"></div> Button</button>
                            <button disabled type="button" class="button button-black-outline"><div class="spinner"></div> Button</button>
                            <button disabled type="button" class="button button-white-outline"><div class="spinner"></div> Button</button>
                            <a href="#" class="button button-primary-outline" aria-disabled="true"><div class="spinner"></div> Link Button</a>
                        </div>
                        <br/>
                        <div data-theme="dark" class="p-3">
                            <button type="button" class="button button-primary-outline"><div class="spinner"></div> Button</button>
                            <button type="button" class="button button-secondary-outline"><div class="spinner"></div> Button</button>
                            <button type="button" class="button button-success-outline"><div class="spinner"></div> Button</button>
                            <button type="button" class="button button-warning-outline"><div class="spinner"></div> Button</button>
                            <button type="button" class="button button-danger-outline"><div class="spinner"></div> Button</button>
                            <button type="button" class="button button-info-outline"><div class="spinner"></div> Button</button>
                            <button type="button" class="button button-light-outline"><div class="spinner"></div> Button</button>
                            <button type="button" class="button button-dark-outline"><div class="spinner"></div> Button</button>
                            <button type="button" class="button button-black-outline"><div class="spinner"></div> Button</button>
                            <button type="button" class="button button-white-outline"><div class="spinner"></div> Button</button>
                            <a href="#" class="button button-primary-outline"><div class="spinner"></div> Link Button</a>
                            <br/>
                            <br/>
                            <button disabled type="button" class="button button-primary-outline"><div class="spinner"></div> Button</button>
                            <button disabled type="button" class="button button-secondary-outline"><div class="spinner"></div> Button</button>
                            <button disabled type="button" class="button button-success-outline"><div class="spinner"></div> Button</button>
                            <button disabled type="button" class="button button-warning-outline"><div class="spinner"></div> Button</button>
                            <button disabled type="button" class="button button-danger-outline"><div class="spinner"></div> Button</button>
                            <button disabled type="button" class="button button-info-outline"><div class="spinner"></div> Button</button>
                            <button disabled type="button" class="button button-light-outline"><div class="spinner"></div> Button</button>
                            <button disabled type="button" class="button button-dark-outline"><div class="spinner"></div> Button</button>
                            <button disabled type="button" class="button button-black-outline"><div class="spinner"></div> Button</button>
                            <button disabled type="button" class="button button-white-outline"><div class="spinner"></div> Button</button>
                            <a href="#" class="button button-primary-outline" aria-disabled="true"><div class="spinner"></div> Link Button</a>
                        </div>
                        <br/>
                        <div class="p-3">
                            <button type="button" class="button button-primary button-xs"><div class="spinner"></div> Button XS</button>
                            <button type="button" class="button button-secondary button-sm"><div class="spinner"></div> Button SM</button>
                            <button type="button" class="button button-success"><div class="spinner"></div> Button</button>
                            <button type="button" class="button button-warning button-lg"><div class="spinner"></div> Button LG</button>
                            <button type="button" class="button button-danger button-xl"><div class="spinner"></div> Button XL</button>
                            <br/>
                            <br/>
                            <button type="button" class="button button-primary-outline button-xs"><div class="spinner"></div> Button XS</button>
                            <button type="button" class="button button-secondary-outline button-sm"><div class="spinner"></div> Button SM</button>
                            <button type="button" class="button button-success-outline"><div class="spinner"></div> Button</button>
                            <button type="button" class="button button-warning-outline button-lg"><div class="spinner"></div> Button LG</button>
                            <button type="button" class="button button-danger-outline button-xl"><div class="spinner"></div> Button XL</button>
                        </div>
                        <br/>
                        <div data-theme="dark" class="p-3">
                            <button type="button" class="button button-primary button-xs"><div class="spinner"></div> Button XS</button>
                            <button type="button" class="button button-secondary button-sm"><div class="spinner"></div> Button SM</button>
                            <button type="button" class="button button-success"><div class="spinner"></div> Button</button>
                            <button type="button" class="button button-warning button-lg"><div class="spinner"></div> Button LG</button>
                            <button type="button" class="button button-danger button-xl"><div class="spinner"></div> Button XL</button>
                            <br/>
                            <br/>
                            <button type="button" class="button button-primary-outline button-xs"><div class="spinner"></div> Button XS</button>
                            <button type="button" class="button button-secondary-outline button-sm"><div class="spinner"></div> Button SM</button>
                            <button type="button" class="button button-success-outline"><div class="spinner"></div> Button</button>
                            <button type="button" class="button button-warning-outline button-lg"><div class="spinner"></div> Button LG</button>
                            <button type="button" class="button button-danger-outline button-xl"><div class="spinner"></div> Button XL</button>
                        </div>
                    </section>
                </main>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <section class="sitefooter">
                    <footer>Footer</footer>
                </section>
            </div>
        </div>
    </div>
    <!--#include virtual="footer-assets.html" -->
</body>

</html>