<article class="standard-teaser d-flex h-100 w-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="teaser-header text-center mb-3">
          <h1>Search Results</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="teaser-intro text-center mb-3">
          <p class="h3"><strong>108</strong> Results Found for the term<br/><strong class="text-warning">Lorem Ipsum</strong></p>
        </div>
      </div>
    </div>
  </div>
</article>