<article class="standard-teaser display-flex h-100 w-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="teaser-header txt-center m-b-3">
          <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="teaser-intro txt-center m-b-3">
          <p class="intro">Ut commodo, lacus eget hendrerit interdum, turpis turpis pulvinar nibh, eget finibus augue sem ac leo. Aenean sagittis ipsum vel accumsan bibendum.</p>
        </div>
      </div>
    </div>
  </div>
</article>