<article class="standard-teaser d-flex h-100 w-100">
  <div class="container-fluid">
    <div class="d-flex h-100 flex-column p-3 rounded border border-dark position-relative" data-theme="light">
      <div class="row">
        <div class="col">
          <div class="teaser-info text-left mb-3">
            <time><i class="bi bi-calendar4-event"></i> <small class="font-weight-bold">25-December-2020</small></time><br/><br/>
            <span class="badge badge-pill badge-info">Reporting</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="teaser-header text-left mb-3">
            <a href="#" class="d-inline-block"><h4>Donec quis dignissim dolor, sit amet congue ex</h4></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="teaser-description text-left mb-3">
            <p>
              Proin pulvinar lacinia porttitor. Sed et rutrum mi, sed facilisis lorem. Phasellus commodo orci non turpis malesuada, vel posuere magna porttitor. Duis vehicula lacus aliquam, venenatis eros id, molestie metus.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>