<article class="standard-teaser display-flex h-100 w-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="teaser-header txt-center m-b-3">
          <h1>Login</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="teaser-intro txt-center m-b-3">
          <p class="intro">Login to access to our research downloads, white papers and to receive our newsletter.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="teaser-actions txt-center m-b-3">
          <strong>Not yet a member?</strong><a href="#" class="btn btn-light-outline ml-3">Register now <i class="bi bi-chevron-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</article>