<article class="standard-teaser display-flex h-100 w-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="teaser-header txt-left m-b-3">
          <h1>Events</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="teaser-intro txt-left m-b-3">
          <p class="intro">Welcome to all our upcoming events and information and summaries of past events.</p>
        </div>
      </div>
    </div>
  </div>
</article>