<article class="standard-teaser d-flex h-100 w-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="teaser-header text-center mb-3">
          <h1>Registration</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="teaser-intro text-center mb-3">
          <p class="lead">Register to gain access to our research downloads, white papers and to receive our newsletter.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="teaser-actions text-center mb-3">
          <strong>Already Registered?</strong><a href="#" class="btn btn-primary ml-3">Login <i class="bi bi-chevron-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</article>