<article class="standard-teaser display-flex h-100 w-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="teaser-header txt-center m-b-3">
          <h1>Search Results</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="teaser-intro txt-center m-b-3">
          <p class="h3">No Results Found for the term<br/><strong class="text-warning">Lorem Ipsum</strong></p>
        </div>
      </div>
    </div>
  </div>
</article>