<article class="standard-teaser d-flex h-100 w-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="teaser-header text-right mb-3">
          <h2>Integer vel tincidunt neque</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="teaser-intro text-right mb-3">
          <p class="lead">Quisque commodo massa id quam posuere, <strong>eget gravida nisi ultrices</strong>. Vivamus hendrerit, eros non hendrerit sollicitudin, velit est vehicula sapien, sed dignissim lorem nisi non ex.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="teaser-description text-right mb-3">
            <p>
            Morbi sed ligula vestibulum, scelerisque neque quis, venenatis quam. Praesent interdum dui vitae leo efficitur, a cursus magna iaculis. Etiam pharetra vel dui ut tempor. Curabitur nec lorem elementum, malesuada magna a, mattis dolor. Sed quam eros, maximus nec semper non, rhoncus eget velit. Nullam id dolor et orci aliquet sodales vitae a diam. Aliquam lacinia velit eu mattis lacinia. Integer vitae porttitor metus.
            </p>
            <p>
            Duis pharetra eros dolor, sodales laoreet tortor tincidunt et. Nulla facilisi. Curabitur sit amet metus nulla. Sed iaculis efficitur justo, sed placerat nisi tincidunt non. Morbi hendrerit dolor nec ipsum mattis congue. Nulla ut viverra quam. Duis imperdiet arcu eget eros efficitur rutrum. Donec feugiat turpis sit amet nibh efficitur faucibus. Aliquam venenatis tortor id nisl dapibus viverra.
            </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="teaser-actions text-right mb-3">
          <a href="#" class="btn btn-outline-light">Learn More <i class="bi bi-chevron-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</article>