<article class="standard-teaser d-flex h-100 w-100">
  <div class="container-fluid">
    <div class="d-flex h-100 flex-column p-3 rounded border border-dark position-relative" data-theme="light">
      <div class="row">
        <div class="col">
          <div class="teaser-img text-left mb-3">
            <a href="#" class="d-block">
              <picture>
                <source media="(min-width: 1200px)"
                  data-srcset="https://via.placeholder.com/1280x1280/abcdef/000000 1x, https://via.placeholder.com/2560x2560/abcdef/000000 2x">
                <source media="(min-width: 750px)"
                  data-srcset="https://via.placeholder.com/1040x1040/abcdef/000000 1x, https://via.placeholder.com/2080x2080/abcdef/000000 2x">
                <img alt="Alt definition required" class="img-fluid rounded lazyload" src="https://via.placeholder.com/400x400/abcdef/000000"
                  data-srcset="https://via.placeholder.com/800x800/abcdef/000000 1x, https://via.placeholder.com/1600x1600/abcdef/000000 2x">
              </picture>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="teaser-info text-left mb-3">
            <time><i class="bi bi-calendar4-event"></i> <small class="font-weight-bold">25-December-2020</small></time><br/><br/>
            <span class="badge badge-pill badge-info">Reporting</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="teaser-header text-left mb-3">
            <a href="#" class="d-inline-block"><h4>Lorem ipsum dolor sit amet</h4></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="teaser-description text-left mb-3">
            <p>
              Duis pharetra eros dolor, sodales laoreet tortor tincidunt et. Nulla facilisi. Curabitur sit amet metus nulla.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>