<article class="standard-teaser d-flex h-100 w-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="teaser-header text-left mb-3">
          <h2>Suspendisse sed velit sit amet</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="teaser-description text-left mb-3">
            <p>
            Duis pharetra eros dolor, sodales laoreet tortor tincidunt et. Nulla facilisi. Curabitur sit amet metus nulla. Sed iaculis efficitur justo, sed placerat nisi tincidunt non. Morbi hendrerit dolor nec ipsum mattis congue. Nulla ut viverra quam. Duis imperdiet arcu eget eros efficitur rutrum. Donec feugiat turpis sit amet nibh efficitur faucibus. Aliquam venenatis tortor id nisl dapibus viverra.
            </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="teaser-actions text-left mb-3">
          <a href="#" class="btn btn-outline-white">View All <i class="bi bi-chevron-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</article>