<article class="standard-teaser d-flex h-100 w-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="teaser-img text-left mb-3">
          <picture>
            <source media="(min-width: 1200px)"
              data-srcset="https://via.placeholder.com/1280x1280/e4891a/000000 1x, https://via.placeholder.com/2560x2560/e4891a/000000 2x">
            <source media="(min-width: 750px)"
              data-srcset="https://via.placeholder.com/1040x1040/e4891a/000000 1x, https://via.placeholder.com/2080x2080/e4891a/000000 2x">
            <img alt="Alt definition required" class="img-fluid rounded lazyload" src="https://via.placeholder.com/400x400/e4891a/000000"
              data-srcset="https://via.placeholder.com/800x800/e4891a/000000 1x, https://via.placeholder.com/1600x1600/e4891a/000000 2x">
          </picture>
        </div>
      </div>
    </div>
  </div>
</article>