<article class="standard-teaser d-flex h-100 w-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="teaser-video text-left mb-3">
          <div class="teaser-video-content rounded">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item lazyload" type="text/html" width="640" height="390" src="http://www.youtube.com/embed/eEzD-Y97ges?enablejsapi=1" frameborder="0"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="teaser-header text-left mb-3">
          <h4>Lorem ipsum dolor sit amet</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="teaser-description text-left mb-3">
          <p>
            Duis pharetra eros dolor, sodales laoreet tortor tincidunt et. Nulla facilisi. Curabitur sit amet metus nulla. Nulla facilisi. Curabitur sit amet metus nulla.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="teaser-actions text-left mb-3">
          <a href="#" class="btn btn-sm btn-outline-primary">Learn More <i class="bi bi-chevron-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</article>