<article class="standard-teaser d-flex h-100 w-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="teaser-video txt-left m-b-3">
          <div class="teaser-video-content rounded">
            <div class="embedded embedded-16x9">
              <iframe class="embedded-item lazyload" type="text/html" width="640" height="390" src="http://www.youtube.com/embed/eEzD-Y97ges?enablejsapi=1" frameborder="0"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="teaser-header txt-left m-b-3">
          <h4>Lorem ipsum dolor sit amet</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="teaser-description txt-left m-b-3">
          <p>
            Duis pharetra eros dolor, sodales laoreet tortor tincidunt et. Nulla facilisi. Curabitur sit amet metus nulla. Nulla facilisi. Curabitur sit amet metus nulla.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="teaser-actions txt-left m-b-3">
          <a href="#" class="btn btn-sm btn-primary-outline">Learn More <i class="bi bi-chevron-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</article>