<article class="standard-teaser d-flex h-100 w-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="teaser-header text-center mb-3">
          <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="teaser-intro text-center mb-3">
          <p class="lead">Ut commodo, lacus eget hendrerit interdum, turpis turpis pulvinar nibh, eget finibus augue sem ac leo. Aenean sagittis ipsum vel accumsan bibendum.</p>
        </div>
      </div>
    </div>
  </div>
</article>