<article class="standard-teaser d-flex h-100 w-100">
  <div class="container-fluid">
    <div class="d-flex h-100 flex-column p-3 rounded border border-dark position-relative" data-theme="dark">
      <div class="bg-img-wrap-p rounded">
        <div class="bg-img-wrap">
          <picture>
            <source media="(min-width: 1200px)"
              data-srcset="../../assets/images/events2-1280x1280.jpg 1x, ../../assets/images/events2-2560x2560.jpg 2x">
            <source media="(min-width: 750px)"
              data-srcset="../../assets/images/events2-1040x1040.jpg 1x, ../../assets/images/events2-2080x2080.jpg 2x">
            <img alt="Alt definition required" class="bg-img-wrap-src lazyload" src="../../assets/images/events2-400x400.jpg"
              data-srcset="../../assets/images/events2-800x800.jpg 1x, ../../assets/images/events2-1600x1600.jpg 2x">
          </picture>
          <div class="bg-img-wrap-cover"></div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="teaser-img text-left mb-3">
            <a href="#" class="d-block">
              <picture>
                <source media="(min-width: 1200px)"
                  data-srcset="https://via.placeholder.com/1280x1280/452378/000000 1x, https://via.placeholder.com/2560x2560/452378/000000 2x">
                <source media="(min-width: 750px)"
                  data-srcset="https://via.placeholder.com/1040x1040/452378/000000 1x, https://via.placeholder.com/2080x2080/452378/000000 2x">
                <img alt="Alt definition required" class="img-fluid rounded lazyload" src="https://via.placeholder.com/400x400/452378/000000"
                  data-srcset="https://via.placeholder.com/800x800/452378/000000 1x, https://via.placeholder.com/1600x1600/452378/000000 2x">
              </picture>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="teaser-info text-left mb-3">
            <time><i class="bi bi-calendar4-event"></i> <small class="font-weight-bold">25-December-2020</small></time><br/><br/>
            <span class="badge badge-pill badge-info">Digital</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="teaser-header text-left mb-3">
            <a href="#" class="d-inline-block"><h4>Aenean vitae euismod felis, quis finibus erat</h4></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="teaser-description text-left mb-3">
            <p>
              Quisque quis mi justo. Aliquam efficitur quam in sapien laoreet malesuada. Nunc eget imperdiet justo.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>