<!--#include virtual="head-assets.html" -->

<body>
    <section class="siteheader">
        <header>Header</header>
    </section>
    <main>
        <section class="left-section">
            left
        </section>
        <section class="right-section">
            <div>
                <button type="button" class="button">Button</button>
                <button type="button" class="button button-primary">Button</button>
                <button type="button" class="button button-secondary">Button</button>
                <button type="button" class="button button-success">Button</button>
                <button type="button" class="button button-warning">Button</button>
                <button type="button" class="button button-danger">Button</button>
                <button type="button" class="button button-info">Button</button>
                <button type="button" class="button button-light">Button</button>
                <button type="button" class="button button-dark">Button</button>
                <button type="button" class="button button-black">Button</button>
                <button type="button" class="button button-white">Button</button>
            </div>
            <div data-theme="dark">
                <button type="button" class="button">Button</button>
                <button type="button" class="button button-primary">Button</button>
                <button type="button" class="button button-secondary">Button</button>
                <button type="button" class="button button-success">Button</button>
                <button type="button" class="button button-warning">Button</button>
                <button type="button" class="button button-danger">Button</button>
                <button type="button" class="button button-info">Button</button>
                <button type="button" class="button button-light">Button</button>
                <button type="button" class="button button-dark">Button</button>
                <button type="button" class="button button-black">Button</button>
                <button type="button" class="button button-white">Button</button>
            </div>
        </section>
    </main>
    <section class="sitefooter">
        <header>Footer</header>
    </section>
    <!--#include virtual="footer-assets.html" -->
</body>

</html>