<!--#include virtual="head-assets.html" -->

<body>
    <section class="siteheader">
        <header>Header</header>
    </section>
    <main>
        <section class="left-section">
            <!--#include virtual="./../_baseLayoutPage/left-nav.html" -->
        </section>
        <section class="right-section">
            <div class="p-3">
                <button type="button" class="button button-primary">Button</button>
                <button type="button" class="button button-secondary">Button</button>
                <button type="button" class="button button-success">Button</button>
                <button type="button" class="button button-warning">Button</button>
                <button type="button" class="button button-danger">Button</button>
                <button type="button" class="button button-info">Button</button>
                <button type="button" class="button button-light">Button</button>
                <button type="button" class="button button-dark">Button</button>
                <button type="button" class="button button-black">Button</button>
                <button type="button" class="button button-white">Button</button>
                <a href="#" class="button button-primary">Link Button</a>
                <br/><br/>
                <button disabled type="button" class="button button-primary">Button</button>
                <button disabled type="button" class="button button-secondary">Button</button>
                <button disabled type="button" class="button button-success">Button</button>
                <button disabled type="button" class="button button-warning">Button</button>
                <button disabled type="button" class="button button-danger">Button</button>
                <button disabled type="button" class="button button-info">Button</button>
                <button disabled type="button" class="button button-light">Button</button>
                <button disabled type="button" class="button button-dark">Button</button>
                <button disabled type="button" class="button button-black">Button</button>
                <button disabled type="button" class="button button-white">Button</button>
                <a href="#" class="button button-primary" aria-disabled="true">Link Button</a>
            </div>
            <br/>
            <div data-theme="dark" class="p-3">
                <button type="button" class="button button-primary">Button</button>
                <button type="button" class="button button-secondary">Button</button>
                <button type="button" class="button button-success">Button</button>
                <button type="button" class="button button-warning">Button</button>
                <button type="button" class="button button-danger">Button</button>
                <button type="button" class="button button-info">Button</button>
                <button type="button" class="button button-light">Button</button>
                <button type="button" class="button button-dark">Button</button>
                <button type="button" class="button button-black">Button</button>
                <button type="button" class="button button-white">Button</button>
                <br/><br/>
                <button disabled type="button" class="button button-primary">Button</button>
                <button disabled type="button" class="button button-secondary">Button</button>
                <button disabled type="button" class="button button-success">Button</button>
                <button disabled type="button" class="button button-warning">Button</button>
                <button disabled type="button" class="button button-danger">Button</button>
                <button disabled type="button" class="button button-info">Button</button>
                <button disabled type="button" class="button button-light">Button</button>
                <button disabled type="button" class="button button-dark">Button</button>
                <button disabled type="button" class="button button-black">Button</button>
                <button disabled type="button" class="button button-white">Button</button>
                <a href="#" class="button button-primary" aria-disabled="true">Link Button</a>
            </div>
            <br/>
            <!-- ================================================ -->
            <div class="p-3">
                <button type="button" class="button button-primary-outline">Button</button>
                <button type="button" class="button button-secondary-outline">Button</button>
                <button type="button" class="button button-success-outline">Button</button>
                <button type="button" class="button button-warning-outline">Button</button>
                <button type="button" class="button button-danger-outline">Button</button>
                <button type="button" class="button button-info-outline">Button</button>
                <button type="button" class="button button-light-outline">Button</button>
                <button type="button" class="button button-dark-outline">Button</button>
                <button type="button" class="button button-black-outline">Button</button>
                <button type="button" class="button button-white-outline">Button</button>
                <a href="#" class="button button-primary-outline">Link Button</a>
                <br/>
                <br/>
                <button disabled type="button" class="button button-primary-outline">Button</button>
                <button disabled type="button" class="button button-secondary-outline">Button</button>
                <button disabled type="button" class="button button-success-outline">Button</button>
                <button disabled type="button" class="button button-warning-outline">Button</button>
                <button disabled type="button" class="button button-danger-outline">Button</button>
                <button disabled type="button" class="button button-info-outline">Button</button>
                <button disabled type="button" class="button button-light-outline">Button</button>
                <button disabled type="button" class="button button-dark-outline">Button</button>
                <button disabled type="button" class="button button-black-outline">Button</button>
                <button disabled type="button" class="button button-white-outline">Button</button>
                <a href="#" class="button button-primary-outline" aria-disabled="true">Link Button</a>
            </div>
            <br/>
            <div data-theme="dark" class="p-3">
                <button type="button" class="button button-primary-outline">Button</button>
                <button type="button" class="button button-secondary-outline">Button</button>
                <button type="button" class="button button-success-outline">Button</button>
                <button type="button" class="button button-warning-outline">Button</button>
                <button type="button" class="button button-danger-outline">Button</button>
                <button type="button" class="button button-info-outline">Button</button>
                <button type="button" class="button button-light-outline">Button</button>
                <button type="button" class="button button-dark-outline">Button</button>
                <button type="button" class="button button-black-outline">Button</button>
                <button type="button" class="button button-white-outline">Button</button>
                <a href="#" class="button button-primary-outline">Link Button</a>
                <br/>
                <br/>
                <button disabled type="button" class="button button-primary-outline">Button</button>
                <button disabled type="button" class="button button-secondary-outline">Button</button>
                <button disabled type="button" class="button button-success-outline">Button</button>
                <button disabled type="button" class="button button-warning-outline">Button</button>
                <button disabled type="button" class="button button-danger-outline">Button</button>
                <button disabled type="button" class="button button-info-outline">Button</button>
                <button disabled type="button" class="button button-light-outline">Button</button>
                <button disabled type="button" class="button button-dark-outline">Button</button>
                <button disabled type="button" class="button button-black-outline">Button</button>
                <button disabled type="button" class="button button-white-outline">Button</button>
                <a href="#" class="button button-primary-outline" aria-disabled="true">Link Button</a>
            </div>
            <br/>
            <div class="p-3">
                <button type="button" class="button button-primary button-xs">Button XS</button>
                <button type="button" class="button button-primary button-sm">Button SM</button>
                <button type="button" class="button button-primary">Button</button>
                <button type="button" class="button button-primary button-lg">Button LG</button>
                <button type="button" class="button button-primary button-xl">Button XL</button>
                <br/>
                <br/>
                <button type="button" class="button button-primary-outline button-xs">Button XS</button>
                <button type="button" class="button button-primary-outline button-sm">Button SM</button>
                <button type="button" class="button button-primary-outline">Button</button>
                <button type="button" class="button button-primary-outline button-lg">Button LG</button>
                <button type="button" class="button button-primary-outline button-xl">Button XL</button>
            </div>
            <br/>
            <div data-theme="dark" class="p-3">
                <button type="button" class="button button-primary button-xs">Button XS</button>
                <button type="button" class="button button-primary button-sm">Button SM</button>
                <button type="button" class="button button-primary">Button</button>
                <button type="button" class="button button-primary button-lg">Button LG</button>
                <button type="button" class="button button-primary button-xl">Button XL</button>
                <br/>
                <br/>
                <button type="button" class="button button-primary-outline button-xs">Button XS</button>
                <button type="button" class="button button-primary-outline button-sm">Button SM</button>
                <button type="button" class="button button-primary-outline">Button</button>
                <button type="button" class="button button-primary-outline button-lg">Button LG</button>
                <button type="button" class="button button-primary-outline button-xl">Button XL</button>
            </div>
            <br/>
            <div class="p-3">
                <button type="button" class="button button-primary button-xs"><i class="bi bi-lightning-fill"></i></button>
                <button type="button" class="button button-primary button-sm"><i class="bi bi-lightning-fill"></i></button>
                <button type="button" class="button button-primary"><i class="bi bi-lightning-fill"></i></button>
                <button type="button" class="button button-primary button-lg"><i class="bi bi-lightning-fill"></i></button>
                <button type="button" class="button button-primary button-xl"><i class="bi bi-lightning-fill"></i></button>
                <a href="#" class="button button-primary button-xs button-rounded"><i class="bi bi-lightning-fill"></i></a>
                <a href="#" class="button button-primary button-sm button-rounded"><i class="bi bi-lightning-fill"></i></a>
                <a href="#" class="button button-primary button-rounded"><i class="bi bi-lightning-fill"></i></a>
                <a href="#" class="button button-primary button-lg button-rounded"><i class="bi bi-lightning-fill"></i></a>
                <a href="#" class="button button-primary button-xl button-rounded"><i class="bi bi-lightning-fill"></i></a>
                <br/>
                <br/>
                <button type="button" class="button button-primary-outline button-xs"><i class="bi bi-lightning-fill"></i></button>
                <button type="button" class="button button-primary-outline button-sm"><i class="bi bi-lightning-fill"></i></button>
                <button type="button" class="button button-primary-outline"><i class="bi bi-lightning-fill"></i></button>
                <button type="button" class="button button-primary-outline button-lg"><i class="bi bi-lightning-fill"></i></button>
                <button type="button" class="button button-primary-outline button-xl"><i class="bi bi-lightning-fill"></i></button>
                <a href="#" class="button button-primary-outline button-xs button-rounded"><i class="bi bi-lightning-fill"></i></a>
                <a href="#" class="button button-primary-outline button-sm button-rounded"><i class="bi bi-lightning-fill"></i></a>
                <a href="#" class="button button-primary-outline button-rounded"><i class="bi bi-lightning-fill"></i></a>
                <a href="#" class="button button-primary-outline button-lg button-rounded"><i class="bi bi-lightning-fill"></i></a>
                <a href="#" class="button button-primary-outline button-xl button-rounded"><i class="bi bi-lightning-fill"></i></a>
            </div>
            <br/>
            <div class="p-3" data-theme="dark">
                <button type="button" class="button button-primary button-xs"><i class="bi bi-lightning-fill"></i></button>
                <button type="button" class="button button-primary button-sm"><i class="bi bi-lightning-fill"></i></button>
                <button type="button" class="button button-primary"><i class="bi bi-lightning-fill"></i></button>
                <button type="button" class="button button-primary button-lg"><i class="bi bi-lightning-fill"></i></button>
                <button type="button" class="button button-primary button-xl"><i class="bi bi-lightning-fill"></i></button>
                <a href="#" class="button button-primary button-xs button-rounded"><i class="bi bi-lightning-fill"></i></a>
                <a href="#" class="button button-primary button-sm button-rounded"><i class="bi bi-lightning-fill"></i></a>
                <a href="#" class="button button-primary button-rounded"><i class="bi bi-lightning-fill"></i></a>
                <a href="#" class="button button-primary button-lg button-rounded"><i class="bi bi-lightning-fill"></i></a>
                <a href="#" class="button button-primary button-xl button-rounded"><i class="bi bi-lightning-fill"></i></a>
                <br/>
                <br/>
                <button type="button" class="button button-primary-outline button-xs"><i class="bi bi-lightning-fill"></i></button>
                <button type="button" class="button button-primary-outline button-sm"><i class="bi bi-lightning-fill"></i></button>
                <button type="button" class="button button-primary-outline"><i class="bi bi-lightning-fill"></i></button>
                <button type="button" class="button button-primary-outline button-lg"><i class="bi bi-lightning-fill"></i></button>
                <button type="button" class="button button-primary-outline button-xl"><i class="bi bi-lightning-fill"></i></button>
                <a href="#" class="button button-primary-outline button-xs button-rounded"><i class="bi bi-lightning-fill"></i></a>
                <a href="#" class="button button-primary-outline button-sm button-rounded"><i class="bi bi-lightning-fill"></i></a>
                <a href="#" class="button button-primary-outline button-rounded"><i class="bi bi-lightning-fill"></i></a>
                <a href="#" class="button button-primary-outline button-lg button-rounded"><i class="bi bi-lightning-fill"></i></a>
                <a href="#" class="button button-primary-outline button-xl button-rounded"><i class="bi bi-lightning-fill"></i></a>
            </div>
            <br/>
            <div class="p-3">
                <button type="button" class="button button-primary button-xs">Icon Button <i class="bi bi-lightning-fill"></i></button>
                <button type="button" class="button button-primary button-sm">Icon Button <i class="bi bi-lightning-fill"></i></button>
                <button type="button" class="button button-primary">Icon Button <i class="bi bi-lightning-fill"></i></button>
                <button type="button" class="button button-primary button-lg">Icon Button <i class="bi bi-lightning-fill"></i></button>
                <button type="button" class="button button-primary button-xl">Icon Button <i class="bi bi-lightning-fill"></i></button>
                <a href="#" class="button button-primary button-xs button-rounded">Icon Button <i class="bi bi-lightning-fill"></i></a>
                <a href="#" class="button button-primary button-sm button-rounded">Icon Button <i class="bi bi-lightning-fill"></i></a>
                <a href="#" class="button button-primary button-rounded">Icon Button <i class="bi bi-lightning-fill"></i></a>
                <a href="#" class="button button-primary button-lg button-rounded">Icon Button <i class="bi bi-lightning-fill"></i></a>
                <a href="#" class="button button-primary button-xl button-rounded">Icon Button <i class="bi bi-lightning-fill"></i></a>
                <br/>
                <br/>
                <button type="button" class="button button-primary-outline button-xs">Icon Button <i class="bi bi-lightning-fill"></i></button>
                <button type="button" class="button button-primary-outline button-sm">Icon Button <i class="bi bi-lightning-fill"></i></button>
                <button type="button" class="button button-primary-outline">Icon Button <i class="bi bi-lightning-fill"></i></button>
                <button type="button" class="button button-primary-outline button-lg">Icon Button <i class="bi bi-lightning-fill"></i></button>
                <button type="button" class="button button-primary-outline button-xl">Icon Button <i class="bi bi-lightning-fill"></i></button>
                <a href="#" class="button button-primary-outline button-xs button-rounded">Icon Button <i class="bi bi-lightning-fill"></i></a>
                <a href="#" class="button button-primary-outline button-sm button-rounded">Icon Button <i class="bi bi-lightning-fill"></i></a>
                <a href="#" class="button button-primary-outline button-rounded">Icon Button <i class="bi bi-lightning-fill"></i></a>
                <a href="#" class="button button-primary-outline button-lg button-rounded">Icon Button <i class="bi bi-lightning-fill"></i></a>
                <a href="#" class="button button-primary-outline button-xl button-rounded">Icon Button <i class="bi bi-lightning-fill"></i></a>
            </div>
            <br/>
            <div class="p-3" data-theme="dark">
                <button type="button" class="button button-primary button-xs">Icon Button <i class="bi bi-lightning-fill"></i></button>
                <button type="button" class="button button-primary button-sm">Icon Button <i class="bi bi-lightning-fill"></i></button>
                <button type="button" class="button button-primary">Icon Button <i class="bi bi-lightning-fill"></i></button>
                <button type="button" class="button button-primary button-lg">Icon Button <i class="bi bi-lightning-fill"></i></button>
                <button type="button" class="button button-primary button-xl">Icon Button <i class="bi bi-lightning-fill"></i></button>
                <a href="#" class="button button-primary button-xs button-rounded">Icon Button <i class="bi bi-lightning-fill"></i></a>
                <a href="#" class="button button-primary button-sm button-rounded">Icon Button <i class="bi bi-lightning-fill"></i></a>
                <a href="#" class="button button-primary button-rounded">Icon Button <i class="bi bi-lightning-fill"></i></a>
                <a href="#" class="button button-primary button-lg button-rounded">Icon Button <i class="bi bi-lightning-fill"></i></a>
                <a href="#" class="button button-primary button-xl button-rounded">Icon Button <i class="bi bi-lightning-fill"></i></a>
                <br/>
                <br/>
                <button type="button" class="button button-primary-outline button-xs">Icon Button <i class="bi bi-lightning-fill"></i></button>
                <button type="button" class="button button-primary-outline button-sm">Icon Button <i class="bi bi-lightning-fill"></i></button>
                <button type="button" class="button button-primary-outline">Icon Button <i class="bi bi-lightning-fill"></i></button>
                <button type="button" class="button button-primary-outline button-lg">Icon Button <i class="bi bi-lightning-fill"></i></button>
                <button type="button" class="button button-primary-outline button-xl">Icon Button <i class="bi bi-lightning-fill"></i></button>
                <a href="#" class="button button-primary-outline button-xs button-rounded">Icon Button <i class="bi bi-lightning-fill"></i></a>
                <a href="#" class="button button-primary-outline button-sm button-rounded">Icon Button <i class="bi bi-lightning-fill"></i></a>
                <a href="#" class="button button-primary-outline button-rounded">Icon Button <i class="bi bi-lightning-fill"></i></a>
                <a href="#" class="button button-primary-outline button-lg button-rounded">Icon Button <i class="bi bi-lightning-fill"></i></a>
                <a href="#" class="button button-primary-outline button-xl button-rounded">Icon Button <i class="bi bi-lightning-fill"></i></a>
            </div>
            <br/>
            <!-- ================================================ -->
            <div class="p-3">
                <button type="button" class="button button-primary button-pill">Button</button>
                <button type="button" class="button button-primary-outline button-pill">Button</button>
                <a href="#" class="button button-primary button-pill">Link Button</a>
                <a href="#" class="button button-primary-outline button-pill">Link Button</a>
            </div>
            <br/>
            <div data-theme="dark" class="p-3">
                <button type="button" class="button button-primary button-pill">Button</button>
                <button type="button" class="button button-primary-outline button-pill">Button</button>
                <a href="#" class="button button-primary button-pill">Link Button</a>
                <a href="#" class="button button-primary-outline button-pill">Link Button</a>
            </div>
        </section>
    </main>
    <section class="sitefooter">
        <header>Footer</header>
    </section>
    <!--#include virtual="footer-assets.html" -->
</body>

</html>