<!--#include virtual="head-assets.html" -->

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <section class="siteheader">
                    <header>Header</header>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xl-3">
                <section class="left-section">
                    <!--#include virtual="./../_baseLayoutPage/left-nav.html" -->
                </section>
            </div>
            <div class="col-md-8 col-xl-9">
                <main>
                    <section class="right-section">
                        <div class="p-3">
                            <button type="button" class="btn btn-primary">Button</button>
                            <button type="button" class="btn btn-secondary">Button</button>
                            <button type="button" class="btn btn-success">Button</button>
                            <button type="button" class="btn btn-warning">Button</button>
                            <button type="button" class="btn btn-danger">Button</button>
                            <button type="button" class="btn btn-info">Button</button>
                            <button type="button" class="btn btn-light">Button</button>
                            <button type="button" class="btn btn-dark">Button</button>
                            <button type="button" class="btn btn-black">Button</button>
                            <button type="button" class="btn btn-white">Button</button>
                            <a href="#" class="btn btn-primary">Link Button</a>
                            <br/><br/>
                            <button disabled type="button" class="btn btn-primary">Button</button>
                            <button disabled type="button" class="btn btn-secondary">Button</button>
                            <button disabled type="button" class="btn btn-success">Button</button>
                            <button disabled type="button" class="btn btn-warning">Button</button>
                            <button disabled type="button" class="btn btn-danger">Button</button>
                            <button disabled type="button" class="btn btn-info">Button</button>
                            <button disabled type="button" class="btn btn-light">Button</button>
                            <button disabled type="button" class="btn btn-dark">Button</button>
                            <button disabled type="button" class="btn btn-black">Button</button>
                            <button disabled type="button" class="btn btn-white">Button</button>
                            <a href="#" class="btn btn-primary" aria-disabled="true">Link Button</a>
                        </div>
                        <br/>
                        <div data-theme="dark" class="p-3">
                            <button type="button" class="btn btn-primary">Button</button>
                            <button type="button" class="btn btn-secondary">Button</button>
                            <button type="button" class="btn btn-success">Button</button>
                            <button type="button" class="btn btn-warning">Button</button>
                            <button type="button" class="btn btn-danger">Button</button>
                            <button type="button" class="btn btn-info">Button</button>
                            <button type="button" class="btn btn-light">Button</button>
                            <button type="button" class="btn btn-dark">Button</button>
                            <button type="button" class="btn btn-black">Button</button>
                            <button type="button" class="btn btn-white">Button</button>
                            <a href="#" class="btn btn-primary">Link Button</a>
                            <br/><br/>
                            <button disabled type="button" class="btn btn-primary">Button</button>
                            <button disabled type="button" class="btn btn-secondary">Button</button>
                            <button disabled type="button" class="btn btn-success">Button</button>
                            <button disabled type="button" class="btn btn-warning">Button</button>
                            <button disabled type="button" class="btn btn-danger">Button</button>
                            <button disabled type="button" class="btn btn-info">Button</button>
                            <button disabled type="button" class="btn btn-light">Button</button>
                            <button disabled type="button" class="btn btn-dark">Button</button>
                            <button disabled type="button" class="btn btn-black">Button</button>
                            <button disabled type="button" class="btn btn-white">Button</button>
                            <a href="#" class="btn btn-primary" aria-disabled="true">Link Button</a>
                        </div>
                        <br/>
                        <!-- ================================================ -->
                        <div class="p-3">
                            <button type="button" class="btn btn-outline-primary">Button</button>
                            <button type="button" class="btn btn-outline-secondary">Button</button>
                            <button type="button" class="btn btn-outline-success">Button</button>
                            <button type="button" class="btn btn-outline-warning">Button</button>
                            <button type="button" class="btn btn-outline-danger">Button</button>
                            <button type="button" class="btn btn-outline-info">Button</button>
                            <button type="button" class="btn btn-outline-light">Button</button>
                            <button type="button" class="btn btn-outline-dark">Button</button>
                            <button type="button" class="btn btn-outline-black">Button</button>
                            <button type="button" class="btn btn-outline-white">Button</button>
                            <a href="#" class="btn btn-outline-primary">Link Button</a>
                            <br/>
                            <br/>
                            <button disabled type="button" class="btn btn-outline-primary">Button</button>
                            <button disabled type="button" class="btn btn-outline-secondary">Button</button>
                            <button disabled type="button" class="btn btn-outline-success">Button</button>
                            <button disabled type="button" class="btn btn-outline-warning">Button</button>
                            <button disabled type="button" class="btn btn-outline-danger">Button</button>
                            <button disabled type="button" class="btn btn-outline-info">Button</button>
                            <button disabled type="button" class="btn btn-outline-light">Button</button>
                            <button disabled type="button" class="btn btn-outline-dark">Button</button>
                            <button disabled type="button" class="btn btn-outline-black">Button</button>
                            <button disabled type="button" class="btn btn-outline-white">Button</button>
                            <a href="#" class="btn btn-outline-primary" aria-disabled="true">Link Button</a>
                        </div>
                        <br/>
                        <div data-theme="dark" class="p-3">
                            <button type="button" class="btn btn-outline-primary">Button</button>
                            <button type="button" class="btn btn-outline-secondary">Button</button>
                            <button type="button" class="btn btn-outline-success">Button</button>
                            <button type="button" class="btn btn-outline-warning">Button</button>
                            <button type="button" class="btn btn-outline-danger">Button</button>
                            <button type="button" class="btn btn-outline-info">Button</button>
                            <button type="button" class="btn btn-outline-light">Button</button>
                            <button type="button" class="btn btn-outline-dark">Button</button>
                            <button type="button" class="btn btn-outline-black">Button</button>
                            <button type="button" class="btn btn-outline-white">Button</button>
                            <a href="#" class="btn btn-outline-primary">Link Button</a>
                            <br/>
                            <br/>
                            <button disabled type="button" class="btn btn-outline-primary">Button</button>
                            <button disabled type="button" class="btn btn-outline-secondary">Button</button>
                            <button disabled type="button" class="btn btn-outline-success">Button</button>
                            <button disabled type="button" class="btn btn-outline-warning">Button</button>
                            <button disabled type="button" class="btn btn-outline-danger">Button</button>
                            <button disabled type="button" class="btn btn-outline-info">Button</button>
                            <button disabled type="button" class="btn btn-outline-light">Button</button>
                            <button disabled type="button" class="btn btn-outline-dark">Button</button>
                            <button disabled type="button" class="btn btn-outline-black">Button</button>
                            <button disabled type="button" class="btn btn-outline-white">Button</button>
                            <a href="#" class="btn btn-outline-primary" aria-disabled="true">Link Button</a>
                        </div>
                        <br/>
                        <div class="p-3">
                            <button type="button" class="btn btn-primary btn-xs">Button XS</button>
                            <button type="button" class="btn btn-secondary btn-sm">Button SM</button>
                            <button type="button" class="btn btn-success">Button</button>
                            <button type="button" class="btn btn-warning btn-lg">Button LG</button>
                            <button type="button" class="btn btn-danger btn-xl">Button XL</button>
                            <br/>
                            <br/>
                            <button type="button" class="btn btn-outline-primary btn-xs">Button XS</button>
                            <button type="button" class="btn btn-outline-secondary btn-sm">Button SM</button>
                            <button type="button" class="btn btn-outline-success">Button</button>
                            <button type="button" class="btn btn-outline-warning btn-lg">Button LG</button>
                            <button type="button" class="btn btn-outline-danger btn-xl">Button XL</button>
                        </div>
                        <br/>
                        <div data-theme="dark" class="p-3">
                            <button type="button" class="btn btn-primary btn-xs">Button XS</button>
                            <button type="button" class="btn btn-secondary btn-sm">Button SM</button>
                            <button type="button" class="btn btn-success">Button</button>
                            <button type="button" class="btn btn-warning btn-lg">Button LG</button>
                            <button type="button" class="btn btn-danger btn-xl">Button XL</button>
                            <br/>
                            <br/>
                            <button type="button" class="btn btn-outline-primary btn-xs">Button XS</button>
                            <button type="button" class="btn btn-outline-secondary btn-sm">Button SM</button>
                            <button type="button" class="btn btn-outline-success">Button</button>
                            <button type="button" class="btn btn-outline-warning btn-lg">Button LG</button>
                            <button type="button" class="btn btn-outline-danger btn-xl">Button XL</button>
                        </div>
                        <br/>
                        <div class="p-3">
                            <button type="button" class="btn btn-primary btn-xs"><i class="bi bi-lightning-fill"></i></button>
                            <button type="button" class="btn btn-secondary btn-sm"><i class="bi bi-lightning-fill"></i></button>
                            <button type="button" class="btn btn-success"><i class="bi bi-lightning-fill"></i></button>
                            <button type="button" class="btn btn-warning btn-lg"><i class="bi bi-lightning-fill"></i></button>
                            <button type="button" class="btn btn-danger btn-xl"><i class="bi bi-lightning-fill"></i></button>
                            <a href="#" class="btn btn-primary btn-xs button-rounded"><i class="bi bi-lightning-fill"></i></a>
                            <a href="#" class="btn btn-secondary btn-sm button-rounded"><i class="bi bi-lightning-fill"></i></a>
                            <a href="#" class="btn btn-success button-rounded"><i class="bi bi-lightning-fill"></i></a>
                            <a href="#" class="btn btn-warning btn-lg button-rounded"><i class="bi bi-lightning-fill"></i></a>
                            <a href="#" class="btn btn-danger btn-xl button-rounded"><i class="bi bi-lightning-fill"></i></a>
                            <br/>
                            <br/>
                            <button type="button" class="btn btn-outline-primary btn-xs"><i class="bi bi-lightning-fill"></i></button>
                            <button type="button" class="btn btn-outline-secondary btn-sm"><i class="bi bi-lightning-fill"></i></button>
                            <button type="button" class="btn btn-outline-success"><i class="bi bi-lightning-fill"></i></button>
                            <button type="button" class="btn btn-outline-warning btn-lg"><i class="bi bi-lightning-fill"></i></button>
                            <button type="button" class="btn btn-outline-danger btn-xl"><i class="bi bi-lightning-fill"></i></button>
                            <a href="#" class="btn btn-outline-primary btn-xs button-rounded"><i class="bi bi-lightning-fill"></i></a>
                            <a href="#" class="btn btn-outline-secondary btn-sm button-rounded"><i class="bi bi-lightning-fill"></i></a>
                            <a href="#" class="btn btn-outline-success button-rounded"><i class="bi bi-lightning-fill"></i></a>
                            <a href="#" class="btn btn-outline-warning btn-lg button-rounded"><i class="bi bi-lightning-fill"></i></a>
                            <a href="#" class="btn btn-outline-danger btn-xl button-rounded"><i class="bi bi-lightning-fill"></i></a>
                        </div>
                        <br/>
                        <div class="p-3" data-theme="dark">
                            <button type="button" class="btn btn-primary btn-xs"><i class="bi bi-lightning-fill"></i></button>
                            <button type="button" class="btn btn-secondary btn-sm"><i class="bi bi-lightning-fill"></i></button>
                            <button type="button" class="btn btn-success"><i class="bi bi-lightning-fill"></i></button>
                            <button type="button" class="btn btn-warning btn-lg"><i class="bi bi-lightning-fill"></i></button>
                            <button type="button" class="btn btn-danger btn-xl"><i class="bi bi-lightning-fill"></i></button>
                            <a href="#" class="btn btn-primary btn-xs button-rounded"><i class="bi bi-lightning-fill"></i></a>
                            <a href="#" class="btn btn-secondary btn-sm button-rounded"><i class="bi bi-lightning-fill"></i></a>
                            <a href="#" class="btn btn-success button-rounded"><i class="bi bi-lightning-fill"></i></a>
                            <a href="#" class="btn btn-warning btn-lg button-rounded"><i class="bi bi-lightning-fill"></i></a>
                            <a href="#" class="btn btn-danger btn-xl button-rounded"><i class="bi bi-lightning-fill"></i></a>
                            <br/>
                            <br/>
                            <button type="button" class="btn btn-outline-primary btn-xs"><i class="bi bi-lightning-fill"></i></button>
                            <button type="button" class="btn btn-outline-secondary btn-sm"><i class="bi bi-lightning-fill"></i></button>
                            <button type="button" class="btn btn-outline-success"><i class="bi bi-lightning-fill"></i></button>
                            <button type="button" class="btn btn-outline-warning btn-lg"><i class="bi bi-lightning-fill"></i></button>
                            <button type="button" class="btn btn-outline-danger btn-xl"><i class="bi bi-lightning-fill"></i></button>
                            <a href="#" class="btn btn-outline-primary btn-xs button-rounded"><i class="bi bi-lightning-fill"></i></a>
                            <a href="#" class="btn btn-outline-secondary btn-sm button-rounded"><i class="bi bi-lightning-fill"></i></a>
                            <a href="#" class="btn btn-outline-success button-rounded"><i class="bi bi-lightning-fill"></i></a>
                            <a href="#" class="btn btn-outline-warning btn-lg button-rounded"><i class="bi bi-lightning-fill"></i></a>
                            <a href="#" class="btn btn-outline-danger btn-xl button-rounded"><i class="bi bi-lightning-fill"></i></a>
                        </div>
                        <br/>
                        <div class="p-3">
                            <button type="button" class="btn btn-primary btn-xs">Icon Button <i class="bi bi-lightning-fill"></i></button>
                            <button type="button" class="btn btn-secondary btn-sm">Icon Button <i class="bi bi-lightning-fill"></i></button>
                            <button type="button" class="btn btn-success">Icon Button <i class="bi bi-lightning-fill"></i></button>
                            <button type="button" class="btn btn-warning btn-lg">Icon Button <i class="bi bi-lightning-fill"></i></button>
                            <button type="button" class="btn btn-danger btn-xl">Icon Button <i class="bi bi-lightning-fill"></i></button>
                            <a href="#" class="btn btn-primary btn-xs button-pill">Icon Button <i class="bi bi-lightning-fill"></i></a>
                            <a href="#" class="btn btn-secondary btn-sm button-pill">Icon Button <i class="bi bi-lightning-fill"></i></a>
                            <a href="#" class="btn btn-success button-pill">Icon Button <i class="bi bi-lightning-fill"></i></a>
                            <a href="#" class="btn btn-warning btn-lg button-pill">Icon Button <i class="bi bi-lightning-fill"></i></a>
                            <a href="#" class="btn btn-danger btn-xl button-pill">Icon Button <i class="bi bi-lightning-fill"></i></a>
                            <br/>
                            <br/>
                            <button type="button" class="btn btn-outline-primary btn-xs">Icon Button <i class="bi bi-lightning-fill"></i></button>
                            <button type="button" class="btn btn-outline-secondary btn-sm">Icon Button <i class="bi bi-lightning-fill"></i></button>
                            <button type="button" class="btn btn-outline-success">Icon Button <i class="bi bi-lightning-fill"></i></button>
                            <button type="button" class="btn btn-outline-warning btn-lg">Icon Button <i class="bi bi-lightning-fill"></i></button>
                            <button type="button" class="btn btn-outline-danger btn-xl">Icon Button <i class="bi bi-lightning-fill"></i></button>
                            <a href="#" class="btn btn-outline-primary btn-xs button-pill">Icon Button <i class="bi bi-lightning-fill"></i></a>
                            <a href="#" class="btn btn-outline-secondary btn-sm button-pill">Icon Button <i class="bi bi-lightning-fill"></i></a>
                            <a href="#" class="btn btn-outline-success button-pill">Icon Button <i class="bi bi-lightning-fill"></i></a>
                            <a href="#" class="btn btn-outline-warning btn-lg button-pill">Icon Button <i class="bi bi-lightning-fill"></i></a>
                            <a href="#" class="btn btn-outline-danger btn-xl button-pill">Icon Button <i class="bi bi-lightning-fill"></i></a>
                        </div>
                        <br/>
                        <div class="p-3" data-theme="dark">
                            <button type="button" class="btn btn-primary btn-xs">Icon Button <i class="bi bi-lightning-fill"></i></button>
                            <button type="button" class="btn btn-secondary btn-sm">Icon Button <i class="bi bi-lightning-fill"></i></button>
                            <button type="button" class="btn btn-success">Icon Button <i class="bi bi-lightning-fill"></i></button>
                            <button type="button" class="btn btn-warning btn-lg">Icon Button <i class="bi bi-lightning-fill"></i></button>
                            <button type="button" class="btn btn-danger btn-xl">Icon Button <i class="bi bi-lightning-fill"></i></button>
                            <a href="#" class="btn btn-primary btn-xs button-pill">Icon Button <i class="bi bi-lightning-fill"></i></a>
                            <a href="#" class="btn btn-secondary btn-sm button-pill">Icon Button <i class="bi bi-lightning-fill"></i></a>
                            <a href="#" class="btn btn-success button-pill">Icon Button <i class="bi bi-lightning-fill"></i></a>
                            <a href="#" class="btn btn-warning btn-lg button-pill">Icon Button <i class="bi bi-lightning-fill"></i></a>
                            <a href="#" class="btn btn-danger btn-xl button-pill">Icon Button <i class="bi bi-lightning-fill"></i></a>
                            <br/>
                            <br/>
                            <button type="button" class="btn btn-outline-primary btn-xs">Icon Button <i class="bi bi-lightning-fill"></i></button>
                            <button type="button" class="btn btn-outline-secondary btn-sm">Icon Button <i class="bi bi-lightning-fill"></i></button>
                            <button type="button" class="btn btn-outline-success">Icon Button <i class="bi bi-lightning-fill"></i></button>
                            <button type="button" class="btn btn-outline-warning btn-lg">Icon Button <i class="bi bi-lightning-fill"></i></button>
                            <button type="button" class="btn btn-outline-danger btn-xl">Icon Button <i class="bi bi-lightning-fill"></i></button>
                            <a href="#" class="btn btn-outline-primary btn-xs button-pill">Icon Button <i class="bi bi-lightning-fill"></i></a>
                            <a href="#" class="btn btn-outline-secondary btn-sm button-pill">Icon Button <i class="bi bi-lightning-fill"></i></a>
                            <a href="#" class="btn btn-outline-success button-pill">Icon Button <i class="bi bi-lightning-fill"></i></a>
                            <a href="#" class="btn btn-outline-warning btn-lg button-pill">Icon Button <i class="bi bi-lightning-fill"></i></a>
                            <a href="#" class="btn btn-outline-danger btn-xl button-pill">Icon Button <i class="bi bi-lightning-fill"></i></a>
                        </div>
                    </section>
                </main>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <section class="sitefooter">
                    <footer>Footer</footer>
                </section>
            </div>
        </div>
    </div>
    <!--#include virtual="footer-assets.html" -->
</body>

</html>