.@{className-button} {
  background-color: transparent;
  border: @btn-border-width solid transparent;
  border-radius: @btn-border-radius;
  color: @theme-light-color;
  cursor: if(@enable-button-pointers, pointer, null);
  display: inline-block;
  font-family: @btn-font-family;
  font-weight: @btn-font-weight;
  font-size: @btn-font-size;
  line-height: @btn-line-height;
  padding: @btn-padding-y @btn-padding-x;
  text-align: center;
  text-decoration: if(boolean(@link-decoration = none), null, none);
  user-select: none;
  vertical-align: middle;
  [class^="bi-"]::before, [class*=" bi-"]::before {
    line-height: 1.2;
    vertical-align: text-bottom;
  }
  .spinner {
    &, &:after {
      height: (16 / @rem);
      width: (16 / @rem);
    }
    &:after {
      border-width: (2 / @rem);
      border-bottom-color: @theme-light-color;
      border-left-color: rgba(@theme-light-color, 0.2);
      border-right-color: rgba(@theme-light-color, 0.2);
      border-top-color: @theme-light-color;
    }
  }
}

a:link {
  color: @colors[primary];
}
a:visited {
  color: @colors[primary];
}
a:hover {
  color: darken(@colors[primary], 10%);
}
a:active {
  color: @colors[primary];
}
a.@{className-button} {
  color: @theme-light-color;
}
each(@colors, {
  .@{className-button}-@{key}, a.@{className-button}-@{key} {
    // @{key}-@{index}: @value;
    .button-variant(@value, @theme-name-light);
  }
  .@{className-button}-outline-@{key}, a.@{className-button}-outline-@{key} {
    .button-variant-outline(@value, @theme-name-light);
  }
});
[data-theme="@{theme-name-dark}"] {
  
  a:link {
    color: @colors[primary];
  }
  a:visited {
    color: @colors[primary];
  }
  a:hover {
    color: lighten(@colors[primary], 10%);
  }
  a:active {
    color: @colors[primary];
  }
  a.@{className-button} {
    color: @theme-light-color;
  }
  
  each(@colors, {
    .@{className-button}-@{key}, a.@{className-button}-@{key} {
      .button-variant(@value, @theme-name-dark);
    }
    .@{className-button}-outline-@{key}, a.@{className-button}-outline-@{key} {
      .button-variant-outline(@value, @theme-name-dark);
    }
  });
}
.@{className-button-xs} {
  border-radius: @btn-border-radius-xs;
  font-size: @btn-font-size-xs;
  padding: @btn-padding-y-xs @btn-padding-x-xs;
  .spinner {
    &, &:after {
      height: (8 / @rem);
      width: (8 / @rem);
    }
  }
}
.@{className-button-sm} {
  border-radius: @btn-border-radius-sm;
  font-size: @btn-font-size-sm;
  padding: @btn-padding-y-sm @btn-padding-x-sm;
  .spinner {
    &, &:after {
      height: (14 / @rem);
      width: (14 / @rem);
    }
  }
}
.@{className-button-lg} {
  border-radius: @btn-border-radius-lg;
  font-size: @btn-font-size-lg;
  padding: @btn-padding-y-lg @btn-padding-x-lg;
  .spinner {
    &, &:after {
      height: (22 / @rem);
      width: (22 / @rem);
    }
  }
}
.@{className-button-xl} {
  border-radius: @btn-border-radius-xl;
  font-size: @btn-font-size-xl;
  padding: @btn-padding-y-xl @btn-padding-x-xl;
  .spinner {
    &, &:after {
      height: (28 / @rem);
      width: (28 / @rem);
    }
  }
}
.@{className-button}-@{className-button-pill} {
  border-radius: @border-radius-pill !important;
}
.@{className-button}-@{className-button-rounded} {
  border-radius: @border-radius-rounded !important;
}
.@{className-button}-block {
  width: 100%;
}