@min_width: 380px;
@max_width: 1200px;
@min_font: 14px;
@max_font: 16px;
@mod_1: 1.3002; // mobile
@mod_2: 1.4143; // desktop

body {
  .fluid-type(@min_width, @max_width, @min_font, @max_font);
}
h1, .h1 {  
  .fluid-type(@min_width, @max_width, @mod_1*@mod_1*@mod_1*@mod_1 *@min_font, @mod_2*@mod_2*@mod_2*@mod_2 *@max_font);
}
h2, .h2 {  
  .fluid-type(@min_width, @max_width, @mod_1*@mod_1*@mod_1 *@min_font, @mod_2*@mod_2*@mod_2 *@max_font);
}
h3, .h3 { 
  .fluid-type(@min_width, @max_width, @mod_1*@mod_1 *@min_font, @mod_2*@mod_2 *@max_font);
}
h4, .h4 { 
  .fluid-type(@min_width, @max_width, @mod_1 *@min_font, @mod_2 *@max_font);
}
body {
  font-family: @font-family-sans-serif;
  font-weight: 400;
}
h1, .h1, h2, .h2, h3, .h3, .intro, blockquote, .blockquote {
  font-weight: 300;
}
h4, .h4, h5, .h5, h6, .h6 {
  font-weight: 700;
}
h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p {
  margin-bottom: 1rem;
}