<!--#include virtual="head-assets.html" -->

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <section class="siteheader">
          <header>Header</header>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-xl-3">
        <section class="left-section">
          <!--#include virtual="./../_baseLayoutPage/left-nav.html" -->
        </section>
      </div>
      <div class="col-md-8 col-xl-9">
        <main>
          <section class="right-section">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 col-xl-4">
                  <!--#include virtual="./teasers/teaser-001.html" -->
                </div>
                <div class="col-12 col-xl-4">
                  <!--#include virtual="./teasers/teaser-002.html" -->
                </div>
                <div class="col-12 col-xl-4">
                  <!--#include virtual="./teasers/teaser-003.html" -->
                </div>
                <div class="col-12 col-xl-4" data-theme="dark">
                  <!--#include virtual="./teasers/teaser-004.html" -->
                </div>
                <div class="col-12 col-xl-4">
                  <!--#include virtual="./teasers/teaser-005.html" -->
                </div>
                <div class="col-12 col-xl-4" data-theme="dark">
                  <!--#include virtual="./teasers/teaser-006.html" -->
                </div>
              </div>
            </div>
          </section>
        </main>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <section class="sitefooter">
          <footer>Footer</footer>
        </section>
      </div>
    </div>
  </div>
  <!--#include virtual="footer-assets.html" -->
</body>

</html>