<!--#include virtual="head-assets.html" -->

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <section class="siteheader">
          <header>Header</header>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-xl-3">
        <section class="left-section">
          <!--#include virtual="./../_baseLayoutPage/left-nav.html" -->
        </section>
      </div>
      <div class="col-md-8 col-xl-9">
        <main>
          <section class="right-section">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 col-xl-4">
                  <!--#include virtual="./teasers/teaser-001.html" -->
                </div>
                <div class="col-12 col-xl-4">
                  <!--#include virtual="./teasers/teaser-002.html" -->
                </div>
                <div class="col-12 col-xl-4">
                  <!--#include virtual="./teasers/teaser-003.html" -->
                </div>
                <div class="col-12 col-xl-4">
                  <!--#include virtual="./teasers/teaser-004.html" -->
                </div>
                <div class="col-12 col-xl-4">
                  <!--#include virtual="./teasers/teaser-005.html" -->
                </div>
                <div class="col-12 col-xl-4">
                  <!--#include virtual="./teasers/teaser-006.html" -->
                </div>
                <div class="col-12 col-xl-4">
                  <!--#include virtual="./teasers/teaser-007.html" -->
                </div>
                <div class="col-12 col-xl-4">
                  <!--#include virtual="./teasers/teaser-008.html" -->
                </div>
                <div class="col-12 col-xl-4">
                  <!--#include virtual="./teasers/teaser-009.html" -->
                </div>
                <div class="col-12 col-xl-4">
                  <!--#include virtual="./teasers/teaser-010.html" -->
                </div>
                <div class="col-12 col-xl-4">
                  <!--#include virtual="./teasers/teaser-011.html" -->
                </div>
                <div class="col-12 col-xl-4">
                  <!--#include virtual="./teasers/teaser-012.html" -->
                </div>
                <div class="col-12 col-xl-4">
                  <!--#include virtual="./teasers/teaser-013.html" -->
                </div>
                <div class="col-12 col-xl-4">
                  <!--#include virtual="./teasers/teaser-014.html" -->
                </div>
                <div class="col-12 col-xl-4">
                  <!--#include virtual="./teasers/teaser-015.html" -->
                </div>
                <div class="col-12 col-xl-4">
                  <!--#include virtual="./teasers/teaser-016.html" -->
                </div>
                <div class="col-12 col-xl-4">
                  <!--#include virtual="./teasers/teaser-017.html" -->
                </div>
                <div class="col-12 col-xl-4">
                  <!--#include virtual="./teasers/teaser-018.html" -->
                </div>
                <div class="col-12 col-xl-4">
                  <!--#include virtual="./teasers/teaser-019.html" -->
                </div>
                <div class="col-12 col-xl-4">
                  <!--#include virtual="./teasers/teaser-020.html" -->
                </div>
                <div class="col-12 col-xl-4">
                  <!--#include virtual="./teasers/teaser-021.html" -->
                </div>
                <div class="col-12 col-xl-4">
                  <!--#include virtual="./teasers/teaser-022.html" -->
                </div>
                <div class="col-12 col-xl-4">
                  <!--#include virtual="./teasers/teaser-023.html" -->
                </div>
                <div class="col-12 col-xl-4">
                  <!--#include virtual="./teasers/teaser-024.html" -->
                </div>
                <div class="col-12 col-xl-4">
                  <!--#include virtual="./teasers/teaser-025.html" -->
                </div>
                <div class="col-12 col-xl-4">
                  <!--#include virtual="./teasers/teaser-026.html" -->
                </div>
                <div class="col-12 col-xl-4">
                  <!--#include virtual="./teasers/teaser-027.html" -->
                </div>
                <div class="col-12 col-xl-4">
                  <!--#include virtual="./teasers/teaser-028.html" -->
                </div>
                <div class="col-12 col-xl-4">
                  <!--#include virtual="./teasers/teaser-029.html" -->
                </div>
                <div class="col-12 col-xl-4">
                  <!--#include virtual="./teasers/teaser-030.html" -->
                </div>
                <div class="col-12 col-xl-4">
                  <!--#include virtual="./teasers/teaser-031.html" -->
                </div>
                <div class="col-12 col-xl-4">
                  <!--#include virtual="./teasers/teaser-032.html" -->
                </div>
                <div class="col-12 col-xl-4">
                  <!--#include virtual="./teasers/teaser-033.html" -->
                </div>
                <div class="col-12 col-xl-4">
                  <!--#include virtual="./teasers/teaser-034.html" -->
                </div>
              </div>
            </div>
          </section>
        </main>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <section class="sitefooter">
          <footer>Footer</footer>
        </section>
      </div>
    </div>
  </div>
  <!--#include virtual="footer-assets.html" -->
</body>

</html>