<!--#include virtual="head-assets.html" -->

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <section class="siteheader">
                    <header>Header</header>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xl-3">
                <section class="left-section">
                    <!--#include virtual="./../_baseLayoutPage/left-nav.html" -->
                </section>
            </div>
            <div class="col-md-8 col-xl-9">
                <main>
                  <section class="right-section">
                    <div class="p-3">
                      <h1>H1 Header</h1>
                      <h2>H2 Header</h2>
                      <h3>H3 Header</h3>
                      <h4>H4 Header</h4>
                      <h5>H5 Header</h5>
                      <h6>H6 Header</h6>
                      <p class="h1">p class H1 Header</p>
                      <p class="h2">p class H2 Header</p>
                      <p class="h3">p class H3 Header</p>
                      <p class="h4">p class H4 Header</p>
                      <p class="h5">p class H5 Header</p>
                      <p class="h6">p class H6 Header</p>
                      <p class="intro">
                        Intro paragraph: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Conferam tecum, quam cuique verso rem subicias; <mark>An tu me de L.</mark> <i>Sed ad bona praeterita redeamus.</i> <b>At multis se probavit.</b> Honesta oratio, Socratica, Platonis etiam. <a href="http://loripsum.net/" target="_blank">Quarum ambarum rerum cum medicinam pollicetur, luxuriae licentiam pollicetur.</a> Sic enim censent, oportunitatis esse beate vivere. Sed haec omittamus; </p>
                      </p>
                      <blockquote>
                        <p>The man who comes back through the door in the wall will never be quite the same as the man who went out.</p>
                        <cite>Aldous Huxley</cite>
                      </blockquote>
                    </div>
                    <div class="p-3" data-theme="dark">
                      <h1>H1 Header</h1>
                      <h2>H2 Header</h2>
                      <h3>H3 Header</h3>
                      <h4>H4 Header</h4>
                      <h5>H5 Header</h5>
                      <h6>H6 Header</h6>
                      <p class="h1">p class H1 Header</p>
                      <p class="h2">p class H2 Header</p>
                      <p class="h3">p class H3 Header</p>
                      <p class="h4">p class H4 Header</p>
                      <p class="h5">p class H5 Header</p>
                      <p class="h6">p class H6 Header</p>
                      <p class="intro">
                        Intro paragraph: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Conferam tecum, quam cuique verso rem subicias; <mark>An tu me de L.</mark> <i>Sed ad bona praeterita redeamus.</i> <b>At multis se probavit.</b> Honesta oratio, Socratica, Platonis etiam. <a href="http://loripsum.net/" target="_blank">Quarum ambarum rerum cum medicinam pollicetur, luxuriae licentiam pollicetur.</a> Sic enim censent, oportunitatis esse beate vivere. Sed haec omittamus; </p>
                      </p>
                      <blockquote>
                        <p>The man who comes back through the door in the wall will never be quite the same as the man who went out.</p>
                        <footer>Aldous Huxley</footer>
                      </blockquote>
                    </div>
                  </section>
                </main>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <section class="sitefooter">
                    <footer>Footer</footer>
                </section>
            </div>
        </div>
    </div>
    <!--#include virtual="footer-assets.html" -->
</body>

</html>